@media(max-width : 320px) {
	*{
		font-size: 10px;
	}
	.header{
		flex-direction: column;
		text-align: center;
	}
	.btn-menu{
		display: block;

	}
	.services{
		display: flex;
		flex-direction: column;
		&__item{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.our__work--title{
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 30px 0;
	}
	.our__work__block{
		flex-direction: column;
	}
	.our__work__item{
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.footer{
		flex-direction: column;

	}
	.get__in__touch,
	.twitter,
	.popular__posts,
	.about__us{
		width: 100%;
		padding-left: 15px;
		text-align: left;
		margin-bottom: 20px;
	}
	
}

@media(max-width : 768px) {
	*{
		font-size: 12px;
	}
	.header{
		width: 90%;
		margin: 0 auto;
		flex-direction: column;
		text-align: center;
	}
	.menu{
		width: 100%;
		align-items: center;
		text-align: center;
		flex-direction: column;
		&__item{
			display: none;
			padding: .5em 0;
		}
	}
	display: block;
	.services{
		display: flex;
		/* flex-direction: column; */
		flex-wrap: wrap;
		&__item{
			width: 47%;
			margin-bottom: 20px;
		}
	}
	.services__item{
		width: 46%;
	}
	.our__work--title{
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 30px 0;
	}
	.our__work__block{
		flex-direction: column;
	}
	.our__work__item{
		width: 90%;
		margin: 0 5%;
		text-align: center;
	}
	.footer{
		justify-content: center;
		align-items: center;

	}
	.get__in__touch,
	.twitter,
	.popular__posts,
	.about__us{
		width: 46%;
		padding-left: 15px;
		text-align: left;
		margin-bottom: 20px;
	}
	
}
